#* @vtlvariable name="newUser" type="org.jahia.services.usermanager.JahiaUser" *#
#* @vtlvariable name="bundle" type="java.util.ResourceBundle" *#
#* @vtlvariable name="reservation" type="org.jahia.services.content.JCRNodeWrapper" *#
<html>
<body>
Bonjour ${reservation.properties.nom.string}
${reservation.properties.prenom.string}
<br/>
${reservation.properties.adresse.string}
<br/>
${reservation.properties.codePostal.string}
${reservation.properties.ville.string}
<br/>
${reservation.properties.telephone.string}
</br>
${reservation.properties.email.string}
</body>
</html>